<h1> Welcome to Jo-Quora</h1>

<h1>Login Page</h1>

<form action="/users/login" method="POST">
  <lable for="email">Email</lable>
  <input type="email" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <input type="submit" value="Submit" id="submit_btn"/>
</form>

<a href="/users/new">
  <button>Sign Up Here</button>
</a>
