<h1>Login</h1>
<h2>The best answer to your questions<h2>
<form action="/users/login" method="post">
    <label>Email: </label>
    <input type="email" name="email"><br>
    <label>Password: </label>
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>
