<h1> Did you enter the correct password?</h1>
<h4> Please try again </h4>

<form action="/users/login" method="POST">
  <lable for="email">Email</lable>
  <input type="text" name="email">
  <label for="password">password</label>
  <input type="password" name="password">
  <input type="submit" value="Submit" id="submit_btn"/>
</form>
<br>
<br>
<p> #Below is Work-in-progress, do not press the button! </p>
<a href="/users/forgot_password"><button>Forgot password?</button><a>

